/* Background gradient for the whole page */
body {
  background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient from pink to orange */
  font-family: 'Arial', sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

h1 {
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
